streamdeckeditor flowbox flowboxchild:selected {
  background-color: transparent;
}

streamdeckeditor flowbox flowboxchild:selected > image {
  outline: 2px solid @accent_color;
}

splitbutton.omnibar {
  background: alpha(currentColor, 0.075);
}
